@model PostDocuments.Models.Documents

@{
    ViewData["Title"] = "Documents";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Documentos</h1>
        <form asp-action="AddOrEdit" autocomplete="off" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DocumentId" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Path" />
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                        <label asp-for="Status" class="control-label"></label>
                        @Html.DropDownList("StatusId", new SelectList(ViewBag.StatusId, "Value", "Text"))
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input type="file" name="files" multiple />
                    </div>

                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Gravar" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary  w-100">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
